body {
    max-width: 900px; /* Maks bredde på body innhold */
    width: 100%;
    margin: 0 auto; /* 0 for topp og bunn, auto for sidene: tar det som er ledig */
}

img {
    width: 100%; /* gjør bilde skalerbart med siden */ 
    max-width: 400px;
}

.grey-box { /* Punktum . indikerer at vi "snakker" til en class */
    background-color: grey;
}

#aqua-box { /* Emneknagg # indikerer at vi "snakker" til en ID */
    background-color: aqua;
}
